*.engrad
*.gbw
*.opt
*.out
*.prop
*.xyz
*.ges
*_property.txt
*.bib
*.hess
*.trj
*.slp
*.tmp
*.0
*.allxyz
*.relaxscanact.dat
*.relaxscanscf.dat

.vscode

**/.ipynb_checkpoints/**
!/**/Orca_Calculations/Initial_Geometries/*.xyz

workspace.code-workspace